<a href="/"> Express Movies </a> 
&nbsp;
<a href="/movies"> Voir les films</a>
&nbsp; 
<a href="/search"> Recherche</a>
&nbsp; 
<span id="connectionLink"> <a href="/login"> Connexion </a> </span>

<hr>