<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
<div class="central">
    <%- include('./partials/header') %>
   
    <h1> Express Movies : Les sites des cinéphiles </h1>
    <div>
        Etes-vous plutot film ou series ? peu omprote, vous trouvereez votre bonheur dans les deux cas 
    </div>
</div> 

    <%- include('./partials/footer') %>

</body>
</html>